<div class="row">
  <div class="large-11 columns">
    <%= image_tag 'logo.png', class: 'logo' %>
    <p>Track @rossk's progress in the 2014 IRONMAN Coeur d'Alene!</p>
  </div>
  <div class="large-1 columns">
    <%= @tweet_count %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= render 'timeline' %>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <%= render 'twitter_form' %>
  </div>

  <div class="large-6 columns">
    <%= render 'twitter_feed' %>
  </div>
</div>
